#header {
	width: 100%;
	background: #111;
	overflow: hidden;
}
#header>.nav{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	text-align: center;
	line-height: 60px;
}
#header>.nav>ul {
	height: 60px;
}
#header .nav a{
	color: #fff;
	font-size: 1.2rem;
}
#header .nav ul:first-child{
	  width: 800px;
	display: inline-flex;
	position: relative;
	overflow: hidden;
	padding: 0 20px;
  }
#header .nav ul:last-child {
	width: 350px;
	display: flex;
	justify-content: space-around;
}
#header>.nav>ul:last-child>li:first-child>input {
	height: 30px;
	font-family: helvetica, sans-serif;
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-size: 13px;
	font-weight: 400;
	margin: 15px 0 0 0;
	padding: 0 10px;
	outline: 0;
}

#header>.nav>ul:last-child>li:first-child>button {
	background: linear-gradient(#333, #222);
	box-sizing: content-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: cabin, helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 28px;
	line-height: 28px;
	margin: 15px 0 0 0;
	width: 60px;
	outline: 0;
	cursor: pointer;
}
#header .nav-item {
	color: #83818c;
	padding: 20px;
	text-decoration: none;
	transition: .3s;
	margin: 0 6px;
	z-index: 1;
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	position: relative;
  }
#header .nav-item:before {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #dfe2ea;
	border-radius: 8px 8px 0 0;
	opacity: 0;
	transition: .3s;
  }
  
#header .nav-item:not(.is-active):hover {
	color: #f00;
  }
  #header  #active{
	color: #f00;
  }